main{
    h1{
        text-align: center;
    }
}
form{
    min-width: fit-content;
    max-width: 40%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #a6a6a8;
    border-radius: 5%;
    box-shadow: 5px 5px #b3b3b5;
}
.address{ 
    padding: 2%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: #E8E9F3;
}
.error{
    color: red;
}
.grn{
    color: green;
}

@media screen and (max-width: 750px){
    .address{
        display: block;
    }
}